body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('../background.png') no-repeat center center fixed;
    background-size: cover;
}

.container {
    display: flex;
    gap: 40px;
}

.box {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    cursor: pointer;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add slight shadow */
    transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s; /* Add box-shadow transition */
    position: relative;
}

#box1 {
    background-color: #ffe6f2; /* Lighter pastel pink */
}

#box2 {
    background-color: #e6f7ff; /* Lighter pastel blue */
}

#box3 {
    background-color: #e6ffeb; /* Lighter pastel green */
}

.box:hover {
    transform: scale(1.1);
    background-color: #f9f9f9;
}

.box.opened {
    background-color: #f9f9f9; /* Change background color when opened */
}

.box.opened .message {
    display: block;
}

.box .message {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    color: #333;
    text-align: center;
}
